<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <Meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.css"/>
    <link rel="stylesheet" href="style.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="ideaApp" layout="row" ng-controller="IdeaController"  ng-cloak >

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                ng-click="console.log('Came here');toggleSidenav()" aria-label="Show User List"
                md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-whiteframe-z1">
        <h3>Users</h3>
      </md-toolbar>
      <md-list>
          <md-list-item class="selected">Home</md-list-item>
          <md-list-item disabled>Favorite</md-list-item>
          <md-list-item disabled>Saved</md-list-item>
          <md-list-item disabled>Trending</md-list-item>
          <md-list-item ng-click="home.goTo($event, '/settings')">Settings</md-list-item>
      </md-list>
    </md-sidenav>


    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

      <md-toolbar  layout="row" class="md-whiteframe-z1">
          <md-button class="md-icon-button icon-right" aria-label="Menu"  ng-click="alert('aaa');toggleSidenav()">
            <md-icon class="material-icons">menu</md-icon>
          </md-button>
          <h3>Angular Material - Sticky Note App</h3>
          <span flex></span>
          <md-button class="md-icon-button icon-right" aria-label="Search">
            <md-icon class="material-icons">search</md-icon>
          </md-button>
      </md-toolbar>

      <md-content flex id="main-section" layout-xs="column" layout="row">
        <div flex-xs="" flex-gt-xs="100" layout="column">
        <md-card flex-gt-xs="100" flex>
	<div ng-repeat="note in notes" note="note" ng-dblclick="doEdit=true;" my-draggable class="sticky_notes" ondelete="deleteNote(id)" style="position: absolute; top: 40px; left: 40px;">
          <div contenteditable="true" focus-me="doEdit">
            {{note.body}}
          </div>
	</div>

        </md-card>
        </div>
      </md-content>

      <div layout="row">
        <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="createNote()">
          <md-icon class="material-icons">edit</md-icon>
        </md-button>
      </div>
    </div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js"></script>
    <script src="/assets/app.js"></script>
  </body>
</html>
