
.sticky_notes {
    padding:10px;
    margin:auto;
    float:left;
    height: 50px;
    background:#ffc;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}