/*

Ahsan Khan

*/

body{
	padding-top: 60px;
    padding-bottom: 40px;
}
	label, input {display:block;} 
/* make drag container visible */
/*
#drag{
	border: 2px dashed LightBlue;
	display: table;
}
*/
/* table */
div#drag table {
	/*background-color: #eee;*/
	border-collapse: collapse;
	margin-top: 10pt;
	width: 100%;
}

/* table cells */
div#drag td{
	border: 1px solid navy;
	height: 50px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}

/* drag object (DIV inside table cell) */
.drag{
	margin: auto;
	text-align: center;
	/*width: 87px;*/
	/*height: 35px;*/
	/*line-height: 35px;*/
	border: 0px solid SteelBlue;
	background-color: white;
}

/* "Load" button (needed for AJAX version) */
.button {
	margin: 10px;
	background-color: #6A93D4;
	color: white; 
	border-width: 1px;
	width: 44px;
	padding: 0px;
}

/* left column and corners in main table */
.dark{
	background-color: #e0e0e0;
}

ul.sticky_notes{ list-style:none; }

ul.sticky_notes li{
	/*width:250px;
	height:200px;
	padding:20px;
	margin:20px;*/
	padding:2px;
	margin:2px;
	float:left;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /*-webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);	*/
}

.yellow{ background:#ffc; }
